<div class="center">
<div *ngIf="profileData$ | async as profileData">
  <img [src]="profileData.avatar" alt="Avatar" />
  <h2>{{ profileData.name }}</h2>
  <p>{{ profileData.job }}</p>
  <p>Followers: {{ profileData.followers }}</p>
  <p>Following: {{ profileData.following }}</p>
</div>

<div *ngIf="tasksData$ | async as tasksData">
  <h2>Tasks:</h2>
  <ul>
    <li *ngFor="let task of tasksData">
      <strong>{{ task.name }}</strong> - {{ task.description }} ({{ task.date | date : "short" }})
    </li>
  </ul>
</div> 

<div *ngIf="tasksIdData$ | async as tasksIdData"> 
  <h2>IdTasks:</h2>
  <ul>
    <li *ngFor="let task of tasksIdData">
      <strong>{{ task.name }}</strong> - {{ task.description }} ({{ task.date | date : "short" }})
    </li>
  </ul>
</div>

  <div>
    <h2>Search TaskById:</h2>
    <input type='number' #searchInput (input)="searchId(searchInput.value)">
    <div *ngIf="tasksIdBySearchData$ | async as tasksIdBySearchInfo">
      <li><strong>{{ tasksIdBySearchInfo.name }}</strong> - {{ tasksIdBySearchInfo.description }} ({{ tasksIdBySearchInfo.date | date : "short" }}) </li>
    </div>
  </div>
</div>
